{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Thematic</th>
                <th>Context</th>
                <th>Tools</th>
                <th>WorkingHours</th>
                <th>Period</th>
                <th>Need</th>
                <th>Technologies</th>
                <th>Documentation</th>
                <th>Conclusion</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.thematic }}</td>
                <td>{{ project.context }}</td>
                <td>{{ project.tools }}</td>
                <td>{{ project.workingHours }}</td>
                <td>{{ project.period }}</td>
                <td>{{ project.need }}</td>
                <td>{{ project.technologies }}</td>
                <td>{{ project.documentation }}</td>
                <td>{{ project.conclusion }}</td>
                <td>{{ project.picture }}</td>
                <td>
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_project_new') }}">Create new</a>
{% endblock %}
