{% extends 'base.html.twig' %}

{% block title %}Projet {{ project.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title-project">{{ project.title }}</h1>
        <div class="card">
            <div class="card-body infos-project">
                <p><b>Intitulé : </b>{{ project.thematic }}</p>
                <p><b>Contexte : </b>{{ project.context }}</p>
                <p><b>Outils : </b>{{ project.tools }}</p>
                <p><b>Charge en heure : </b>{{ project.workingHours }}</p>
                <p><b>Période de réalisation : </b>{{ project.period }}</p>
                <p><b>Besoin : </b>{{ project.need }}</p>
                <p><b>Technologies : </b>{{ project.technologies }}</p>
                <p><b>Documentation : </b>{{ project.documentation }}</p>
                <p><b>Bilan : </b>{{ project.conclusion }}</p>
            </div>
        </div>
        <div id="my-pics" class="carousel slide carousel-project">
            <ol class="carousel-indicators">
                {% if project.picture is not empty %}
                    <li data-target="#my-pics" data-slide-to="0" class="active"></li>
                {% endif %}
                {% if project.picture2 is not empty %}
                    <li data-target="#my-pics" data-slide-to="1"></li>
                {% endif %}
                {% if project.picture3 is not empty %}
                    <li data-target="#my-pics" data-slide-to="2"></li>
                {% endif %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% if project.picture is not empty %}
                    <div class="item active">
                        <img src="{{ asset('/uploads/images/' ~ project.picture) }}" alt="Image projet" width="100%">
                    </div>
                {% endif %}
                {% if project.picture2 is not empty %}
                    <div class="item">
                        <img src="{{ asset('/uploads/images/' ~ project.picture2) }}" alt="Image projet" width="100%">
                    </div>
                {% endif %}
                {% if project.picture3 is not empty %}
                    <div class="item">
                        <img src="{{ asset('/uploads/images/' ~ project.picture3) }}" alt="Image projet" width="100%">
                    </div>
                {% endif %}
            </div>
            {% if project.picture is not empty or project.picture2 is not empty or project.picture3 is not empty %}
                <a class="left carousel-control" href="#my-pics" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#my-pics" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
